/* Enter your custom styles here */

.login-container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10em;
}

.field{
    display: flex;
    justify-content: center;
}

.button-container{
    margin-top: 1em;
}

.logInButton{
    justify-content: end;
    margin-left: 14em;
    margin-top: 1em;
}

.profileIcon{
    background-color: transparent;
    color: transparent;
    font-size: 3em;
    height: 3em;
}

.mySuperRedButton{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5em;
}

.profileButton{
    background-color: red;
}